<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Registro de Usuario</h1>
      <form id="formulario" class="form">
        <input type="text" name="name" placeholder="Nombre" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="password" placeholder="Contraseña" />
        <input type="submit" value="Registrarse" />
      </form>
      <a href="/login" class="link">
        <button type="button">Ingreso de Usuarios</button>
      </a>
    </div>
  </body>
</html>

<script>
  const formulario = document.getElementById("formulario");

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const response = await fetch("/api/usuarios/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name: formulario.name.value,
        email: formulario.email.value,
        password: formulario.password.value,
      }),
    });

    const data = await response.json();

    if (response.ok) {
      formulario.name.value = "";
      formulario.email.value = "";
      formulario.password.value = "";
      alert(data.message);
    } else {
      alert(data.message || "Error en el registro");
    }
  });
</script>
