<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="formulario">
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="password" placeholder="Contraseña" />
      <input type="submit" value="Ingresar" />
    </form>
    <a href="/"> Registro de Usuarios </a>
  </body>
</html>

<script>
  const formulario = document.getElementById("formulario");

  formulario.addEventListener("submit", async (event) => {
    event.preventDefault();

    const respuesta = await fetch("/api/usuarios/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        email: formulario.email.value,
        password: formulario.password.value,
      }),
    });

    const data = await respuesta.json();

    if (respuesta.ok) {
      window.location.href = "/mi-usuario";
    } else {
      alert(data.message || "Error en el login");
    }
  });
</script>
